@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 bg-success badge-secondary text-capitalize">Welcome  to Escom Fleet Management System</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
     <img src="~/fleet management system 1.jpg"   width="1100" height="406"/>
</div>
